<div id="home-body">
    <h2>MiLibrary</h2>
    <article class= "text-font">Gérez votre bibliothèque et consultez celle de vos amis</article>
    <nav>
        <div id = "menu">
            <button class= "menu-button text-font"><i class="fa-solid fa-book"></i>Ma bibliothèque</button>
            <button class= "menu-button text-font"><i class="fa-solid fa-heart"></i>Ma liste d'envies</button>
            <button class= "menu-button text-font"><i class="fa-solid fa-handshake"></i>Mes livres en vente</button>
            <button class= "menu-button text-font"><i class="fa-solid fa-people-group"></i>Mes amis</button>
        </div>
        <div id = "deconnexion-button-div">
            <button class = "deconnexion-button text-font">Se déconnecter</button>
        </div>
    </nav>
</div>

