header{
    height: 55px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(117 11 193 / 98%);
    color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: left;

}

h1{
    padding-left : 20px;
    font : 30px Pacifico;

}