footer {
    height: 35px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(117 11 193 / 98%);
    color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-font{
  font : 10px OpenSansRegular;
}